.slider {
  --background: #20262c;
  background-color: var(--background);
  border-radius: 30px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow:
    inset 8px -4px 0px 0px #ececd9,
    -4px 1px 4px 0px #dadada;
  background: var(--background);
  transition: 0.5s;
}

input:checked ~ .decoration {
  transform: translateX(-20px);
  width: 10px;
  height: 10px;
  background: white;
  box-shadow:
    -12px 0 0 white,
    -6px 0 0 1.6px white,
    5px 15px 0 1px white,
    1px 17px 0 white,
    10px 17px 0 white;
}

input:checked + .slider {
  background-color: #5494de;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow:
    inset 15px -4px 0px 15px #efdf2b,
    0 0 10px 0px #efdf2b;
}
